* {
  padding: 0;
  margin: 0;
}

.calculator {
  width: 500px;
  height: 500px;
  margin: 5rem auto;
}

.result {
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  padding: 1rem 0.3rem;
  background-color: #858693;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.1rem;
}

.zero {
  grid-column: span 2;
}

.btn {
  padding: 1rem;
  border: none;
  font-size: 20px;
}

.number {
  background-color: #e0e0e0;
}

.operations {
  background-color: #f5913e;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}

.randomQotes {
  font-size: 32px;
}