@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

* {
  padding: 0;
  margin: 0;
}

.calculator {
  width: 90%;
}

.result {
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  padding: 1rem 0.3rem;
  background-color: #858693;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.1rem;
}

.zero {
  grid-column: span 2;
}

.btn {
  padding: 1rem;
  border: none;
  font-size: 20px;
}

.number {
  background-color: #e0e0e0;
}

.operations {
  background-color: #f5913e;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.quotes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.randomQuotes {
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  padding: 2rem;
  max-width: 90%;
  font-family: 'Poppins', sans-serif;
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70vh;
  padding-top: 6rem;
}

.calculator-container h2 {
  text-align: center;
}
